<article class="blog-post">
  <div id="<%= dom_id post %>">
    <h2 class="display-5 link-body-emphasis mb-1"><%= post.title %></h2>

  <p>
      <%= post.content %>
    </p>
<p>
      <%= post.content %>
    </p>

    <p>
    <strong>image:</strong>
    <%= post.image %>
    <%= image_tag(post.image.url, alt: 'Image', class: 'img-fluid') if post.image? %>

  </p>
      </div>
</article>